.ItensTableVendas button {
    color: white;
    background-color: #0295ff;
    border-radius: 7px;
    border: none;
    cursor: pointer;

}

.AçõesVendasScreenTables {
    width: 40%;
}

.PagamentoVendasScreenTables {
    width: 60%;
}