.ItensTableVendas {
    display: flex;
    justify-content: space-around;
    width: 1300px;
    margin: auto;
}

.RespostTable {
    width: 250px;
    background-color: #eeeeee;
    text-align: center;
    margin-bottom: 4px;
    padding: 3px;
}

.RespostTable > button {
    border-radius: 9px;
    cursor: pointer;
    padding: 3px;
    width: 100%;
    margin-right: 5px;
    border: none;
    text-align: center;
}