#CadastroProdutos {
    margin-top: 30px;
    display: flex;
    margin: auto;
    max-width: 1200px;  
}

.AreaInputsNovoProduto la {
    display: flex;
}

.AreaInputsNovoProduto p {
    font-size: 20px;
}

.AreaInputsNovoProduto input {
    font-size: 20px;
    margin-left: 10px;
    border: 1px solid #424242;
    margin-bottom: 10px;
}

.LinhaDivisão {
    height: 1px;
    width: 100%;
    background-color: #424242;
    margin: 15px 0px 15px 1px;
}

.GiMoneyStack {
    font-size: 50px;
}

.nomeNovoProduto {
    width: 90%;
}

textarea {
    font-size: 20px;
}

.bttCadastrarNovoProduto {
    width: 200px;
    padding: 10px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #25b811;
    color: #25b811;
    background-color: #00000000;
}

.imageProduto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.imageProduto > div {
    background-color: #a2a2a2;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}