.buitão {
    border-radius: 9px;
    cursor: pointer;
    padding: 3px;
    background-color: #0295ff;
    color: white;
    margin-right: 5px;
    border: none;
    text-align: center;
    width: 130px;
}