.tableTodasContasPagar {
    width: 100%;
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;
}

.tableTodasContasPagar thead {
    background-color: #c0c0c0;
}

.PagarContas {
    width: 100%;
    background-color: #00000000;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}