#contasPagar {
  margin-left: 55px;
}

.NavcontasPagar {
  display: flex;
  margin-top: 10px;
}

.Action {
  margin-top: 10px;
  margin-left: 10px;
}

.Action button {
  background-color: #0295ff;
  color: white;
  border: none;
  width: 140px;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px;
}

.NavcontasPagar p {
  margin-right: 20px;
  cursor: pointer;
}