#ConfiguraçõesEmpresa {
    background-color: #eee;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 19px;
}

.ConfiguraçõesEmpresaEditarBtt {
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.displayFlexConfigEmpresa {
    display: flex;
    width: 500px;
}

.displayFlexConfigEmpresa input {
    margin-left: 10px;
    width: 100%;
    margin-bottom: 5px;
    font-size: 19px;
}