#cardFuncionarios {
    width: 30%;
    background-color: #eee;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

#cardFuncionarios p {
    font-size: 18px;
}

.GearButtonCardFuncionarios {
    position: absolute;
    right: 0px;
    bottom: 0px;
    outline: none;
    color: white;
    cursor: pointer;
    background-color: #363636;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 10px 0px 25px 0px;
}

.InfoFuncionariosDiv {
    border-bottom: 1px solid #363636;
    margin-bottom: 7px;
}

.InfoFuncionariosDiv h2 {
    margin-bottom: -10px;
}

.InfoFuncionariosDiv h4 {
    margin: 0px;
    color: #464646;
}