#ESTOQUE {
    margin-left: 55px;
}

#ESTOQUE h2 {
    margin-bottom: 15px;
}

#ESTOQUE a {
    background-color: #0295ff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
}

.TableEstoque {
    border: #363636 solid 2px;
    width: 100%;
    margin-top: 20px;
}

.AddEstoque {
    background-color: #0295ff;
    border: none;
    width: 35px;
    height: 35px;
    font-size: 18px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    margin-bottom: 25px;
}