#InfoGerenciarEstoque {
    display: flex;
}

.EditarGerenciarEstoque {
    width: 150px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
    margin-top: 20px;
    background-color: #00000000;
}

.ExcluirGerenciarEstoque {
    width: 150px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
    margin-top: 20px;
    border: 1px solid red;
    color: red;
    background-color: #00000000;
    margin-left: 50px;
}

.ExcluirGerenciarEstoque:hover {
    background-color: red;
    color: white;
    transition: .3s;
}

.EditarGerenciarEstoque:hover {
    color: white;
    background-color: black;
    transition: .3s;
}

.inputMarcaInfoEstoque {
    width: 100%;
    font-size: 20px;
}

.ImageGerenciarEstoque {
    width: 400px;
    height: 400px;
    background-size: cover;
    border-radius: 10px;
}

.areaInfoGerenciarEstoque {
    margin-left: 40px;
    max-width: 700px;
}

.areaInfoGerenciarEstoque p {
    font-size: 20px;
    margin-bottom: 10px;
}