#cadastrarProduto {
    margin-left: 55px;
}

.bttRenderNovoProduto {
    margin-right: 15px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 15px;
}

#cadastrarProduto h2 {
    margin-bottom: 20px;
}