#gerenciarEstoque {
    margin-left: 55px;
}

.inputGerenciarEstoque {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 500px;
    height: 300px;
    padding: 10px;

    background: rgba(255, 255, 255, 0.3); /* Cor com transparência */
      border-radius: 10px;
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Sombra */
      backdrop-filter: blur(10px); /* Desfoque */
      -webkit-backdrop-filter: blur(10px); /* Desfoque para navegadores Webkit (Safari, Chrome, etc.) */
      border: 1px solid rgba(255, 255, 255, 0.18); /* Borda */
}

.SelecionarProdutoGerenciarEstoque {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    width: 200px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid orange;
    font-weight: 600;
    color: orange;
}

.SelecionarProdutoGerenciarEstoque:hover {
    color: white;
    background-color: orange;
    transition: .3s;
}