.ItensClientes {
    display: flex;
    justify-content: space-around;
    width: 1300px;
    margin: auto;
}

.ItensClientesP {
    width: 100%;
    background-color: #eeeeee;
    text-align: center;
    color: black;
    margin-bottom: 4px;
    padding: 3px;
}

.button {
    padding: 3px;
    border: none;
    margin: 2px;
    cursor: pointer;
    background-color: #0295ff;
    color: white;
    border-radius: 4px;
    width: 230px;
}